<div>
  <div class="pb-10">
    <h1 class="text-4xl text-center">Blompt</h1>
    <h2 class="text-center">AI Assisted Blog Writing</h2>
  </div>


<div class="row">
  <%= form_with url: openai_path, method: :get, class: "flex flex-col space-y-4" do |form| %>
    <%= form.label :title, class: "block" %>
    <%= form.text_area :title, size: "60x2", class: "block w-full rounded-lg", 
    data: { controller: 'autogrow', action: "input->autogrow#grow" },
    placeholder: "Enter the title of your blog post." %>

    <%= form.label :audience, class: "block" %>
    <%= form.text_area :audience, size: "60x2", class: "block w-full rounded-lg", 
    data: { controller: 'autogrow', action: "input->autogrow#grow" },
    placeholder: "Who is your blog post targeting? Try to be specific." %>

    <%= form.label :outline, class: "block" %>
    <%= form.text_area :outline, size: "60x5", class: "block w-full rounded-lg", 
    data: { controller: 'autogrow', action: "input->autogrow#grow" },
    placeholder: "What is your blog post about? And what are the points you want to cover? Be as descriptive as you can." %>

    <%= form.submit "Help me get started", name: "help_me_get_started", class: "mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

    <%= form.label :writing_area %>
    <%= form.text_area :query, size: "60x10", class: "block w-full rounded-lg", placeholder: "Here is where the magic happens. The world needs to hear what you have to say." %>

    <%= form.submit 'Analyse', name: "analyse", class: "mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
  <% end %>
</div>

<%= turbo_frame_tag 'response' do %>
    <div class="row mt-10">
        <h3>Response:
        </h3>
        <p><%= @response %></p>
      <% end %>
    </div>
  </div>
</div>